@model Product
@{
    int count = 1;
}
<div class="container">

    <div class="d-flex justify-content-center align-items-center flex-column">
        <h2>Product Name: @Model.Title</h2>
        <p>Description: @Model.Description</p>

        <table class="table table-secondary table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Size</th>
                    <th>Stock Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var size in @Model.ProductSizes)
                {
                    <tr>
                        <td>@(count++)</td>
                        <td>@size.Size</td>
                        <td>@size.Count</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>